ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    background-color: lightblue;
    padding: 0.5em;
}

li {
    margin: 1em;
}

.navbar-link {
    color: #333;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-link:hover {
    color: black;
    transform: translateY(-2px);
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transition: width 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
}